@import url('https://fonts.googleapis.com/css2?family=Asap&family=Boogaloo&family=Lato:ital@0;1&family=Open+Sans:ital@0;1&family=Poppins:ital@0;1&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Delius', cursive;
}


/* Fuentes de google font
font-family: 'Comic Neue', cursive;
font-family: 'Work Sans', sans-serif;
font-family: 'Delius', cursive;
font-family: 'Rancho', cursive;*/

.pagina {
    width: 100%;
    margin: 0 auto;
    padding-top: 10.625rem;
}

body {
    line-height: 1.4rem;
    background-image: url(../img/light-veneer.png);
}


/* ESTILOS DE ENCABEZADO */

header {
    background-image: url(../img/paisajeclarogrande72.png);
    background-repeat: no-repeat;
    background-size: 100%;
    backface-visibility: unset;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
}

.cabecera {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cajalogo {
    margin-left: 4rem;
    width: 25%;
    text-align: center;
    display: flex;
}

.cajalogo .logosolo img {
    width: 6.875rem;
    height: 6.875rem;
}

.cajalogo h1 {
    width: 75%;
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-left: -0.2rem;
    font-family: 'Boogaloo', cursive;
    color: #061161;
}

.caja-menu-telefonos {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.telefonos {
    margin-right: 0.125rem;
    margin-left: 0px;
    margin-bottom: 1rem;
    width: 75%;
    display: flex;
    box-shadow: 0 0.1875rem 0 rgba(4, 8, 219, 0.5);
}

.telefonos ul {
    list-style: none;
}

.telefonos ul li {
    padding-left: 1rem;
    margin-left: 1rem;
    display: inline-block;
    color: white;
    font-size: 0.9rem;
}


/* ESTILOS MENU */

.menu {
    width: 90%;
    height: 2.2rem;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu .item {
    float: left;
}

.menu .item a {
    border-radius: 5%;
    text-decoration: none;
    background: rgba(4, 8, 219, 0.9);
    color: white;
    padding: 10px 22px;
    display: block;
    font-size: 14px;
    transition: all .5s;
    border: 1px solid white;
}

.menu .desple {
    display: none;
    position: absolute;
    min-width: 175px;
}

.menu .item a:hover {
    background-color: #f8890a;
}

.menu .item:hover .desple {
    display: block;
}


/* Estilo de los vinculs */

.vinculos {
    margin: auto;
    width: 90%;
    border-radius: 10%;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #df1721;
    box-shadow: 0 0 15px #cccccc;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vinculos h2 {
    width: 100%;
    padding: 20px;
    font-size: 30px;
    color: #061161;
    text-align: center;
    font-family: 'Comic Neue', cursive;
}

.links {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px auto;
}

.links img {
    width: 80%;
    border: 2px solid black;
    border-radius: 5%;
    box-shadow: 3px 5px 25px rgba(0, 0, 0, 0.548);
    transition: 1s;
}

.links img:hover {
    transform: scale(1.1);
}


/* ESTILOS DEL BOTON */

.cajaboton {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.boton {
    border-radius: 6px;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    box-shadow: 0 1px 1 rgba(0, 0, 0, 0.3);
}

.botoncolor {
    color: white;
    background-color: #fb6e14;
    transition: all .3s linear;
}

.botoncolor:hover {
    background-color: #190A05;
    color: #fb6e14;
}

.botoncolor:active {
    background-color: #fb6e14;
}


/* ESTILOS DEL BOTON */

.cajabotonp {
    margin-top: 10px;
    text-align: center;
}

.botonp {
    border-radius: 6px;
    text-decoration: none;
    padding: 7Px;
    display: inline-block;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    box-shadow: 0 1px 1 rgba(0, 0, 0, 0.3);
}

.botoncolorp {
    color: white;
    background-color: rgb(81, 81, 155);
    transition: all .3s linear;
}

.botoncolorp:hover {
    background-color: #061161;
}

.botoncolorp:active {
    background-color: rgba(8, 12, 241, 0.5);
}


/* ESTILOS PRICIPALES */

.cajaprincipal {
    margin: -60px auto 50px;
    width: 95%;
    height: 90%;
    background: #243B55;
}

.division {
    width: 100%;
    display: flex;
    background: transparent;
}

.textodiv {
    width: 75%;
    background: #dbdada;
}

.textodiv h2 {
    margin-top: 200px;
    margin-left: 100px;
    margin-bottom: 40px;
    font-size: 20px;
    letter-spacing: 1px;
}

.textodiv h1 {
    margin-top: 30px;
    margin-left: 100px;
    font-weight: 700;
    font-size: 70px;
    letter-spacing: 1px;
    color: #243B55;
}

.textodiv h3 {
    margin-top: 70px;
    margin-left: 100px;
    font-size: 20px;
    letter-spacing: 1px;
    color: gray;
    padding-right: 250px;
}

.marcoevento {
    width: 25%;
    height: 400px;
    display: flex;
    border: 20px solid #dbdada;
}

.imgdiv {
    width: 25%;
    margin-bottom: -5px;
}

.imgdiv img {
    height: 600px;
    margin-top: 70px;
    margin-left: -170px;
    border-radius: 5%;
    border-left: 2px solid gray;
}

.cajaevento {
    margin: 100px auto 70px;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tituloevento {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.tituloevento h2 {
    margin-left: 100px;
    font-size: 26px;
    letter-spacing: 1px;
    color: #243B55;
}

.tituloevento h3 {
    margin-left: 100px;
    font-size: 16px;
    letter-spacing: 1px;
    color: gray;
}

.tituloevento p {
    margin-top: -80px;
    padding: 100px;
    font-size: 20px;
    letter-spacing: 1px;
    color: gray(233, 14, 14);
}

.divevento {
    margin: -90px auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.imgevento {
    padding: 0;
    width: 40%;
    height: auto;
}

.marcoevento {
    margin-top: 40px;
    margin-left: 50px;
    width: 80%;
    height: 400px;
    display: flex;
    border: 20px solid #dbdada;
}

.voz img {
    margin-left: -20px;
    align-items: center;
    width: 100%;
}

.descrip {
    margin-top: 40px;
    padding: 0px;
    width: 55%;
    display: flex;
    flex-direction: column;
}

.estilovideo {
    position: absolute;
}

.video {
    width: 80%;
}

.contitexto h2 {
    margin-top: 70px;
    width: 70%;
    display: inline-block;
    text-align: center;
    margin-left: 200px;
    font-size: 20px;
    letter-spacing: 1px;
    color: gray;
    margin-bottom: 60px;
}

.imagenesevento {
    width: 100%;
    margin-bottom: 60px;
}

.fotoevento {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoevento div {
    width: 300px;
    height: 300px;
    margin: 50px;
    transition: 1s;
}

.fotoevento div:hover {
    transform: scale(1.5);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.fotoevento1 {
    background-image: url(../img/eventopri.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
}

.fotoevento2 {
    background-image: url(../img/eventopri1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
}

.fotoevento3 {
    background-image: url(../img/eventopri2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
}


/*ESTILOS DE PIE DE PAGINA */

footer {
    background-image: url(../img/hoja.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    backface-visibility: unset;
    z-index: 2;
    margin-top: 50px;
}

.pieprincipal {
    margin: 0;
    width: 100%;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
}

.pieencabezado {
    width: 100%;
    height: 12.5rem;
    display: flex;
    justify-content: space-around;
}

.pielogo {
    width: 32%;
    height: 12.5rem;
    text-align: center;
}

.pielogo .logosolo .logo img {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    text-align: center;
}

.pielogo h3 {
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.1rem;
    margin-top: -.5rem;
    font-style: italic;
    font-family: 'Boogaloo', cursive;
    color: #061161;
}

.pielogo p {
    text-align: center;
    line-height: 0.7rem;
    font-size: 0.6rem;
    margin-top: .5rem;
    font-style: italic;
    color: black;
}

.piesede {
    margin-left: 2rem;
    width: 18%;
    height: 12.5rem;
}

.piesede h2 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: #061161;
    font-family: 'Comic Neue', cursive;
}

.piesede ul {
    line-height: 1.2rem;
    margin-top: 0.3rem;
    list-style: none;
}

.piesede ul li a {
    border-radius: 10%;
    transition: .5s linear;
    color: black;
    font-size: 1rem;
    margin-left: 0rem;
    text-decoration: none;
}

.piesede ul li a:hover {
    color: #f8890a;
    background: rgba(0, 0, 0, .5);
}

.piecontacto {
    width: 30%;
    height: 12.5rem;
}

.iconos {
    margin-top: 7px;
    margin-left: 170px;
}

.piecontacto h2 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: #061161;
    font-family: 'Comic Neue', cursive;
}

.piecontacto p {
    text-align: center;
    color: black;
    font-size: 1rem;
    margin-top: 0.3375rem;
    font-weight: bold;
}

.piecontacto .fa-envelope-o {
    margin-left: 180px;
    margin-top: 20px;
}

.pieubicacion {
    width: 20%;
    height: 12.5rem;
}

.pieubicacion h2 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: #061161;
    font-family: 'Comic Neue', cursive;
}

.pieubicacion p {
    color: black;
    font-size: 0.9375rem;
    text-align: center;
    line-height: 0.9375rem;
    margin-top: 0.0625rem;
}

.pieubicacion iframe {
    margin: 0.3125rem;
    margin-left: 3rem;
    width: 10.9375rem;
    height: 8.125rem;
    border-radius: 20%;
}

.piemenu {
    width: 100%;
    height: 6.25rem;
}

.derechos {
    width: 100%;
    height: 2.5rem;
    background: rgb(43, 42, 42);
}

.derechos h2 {
    color: white;
    font-size: 0.9rem;
    text-align: center;
    padding: 0.5rem;
    font-family: 'Comic Neue', cursive;
}